body {
font-family: 'Roboto', 'Ubuntu','Source Sans Pro', sans-serif;
animation: colour_change 30s infinite;

}

@keyframes colour_change {
    0%    {background-color: #454545;}
    50%   {background-color: #333333;}
    100%  {background-color: #454545;}
  }


a {
    color: whitesmoke;
  }

#container {
    font-size: 20px;
    border-radius: 10px;
    margin: auto;
    height: 90%;
    width: 90%;
    max-width: 800px;
    padding: 50px;
    background-color: #6200b3;
    color: whitesmoke;
    box-shadow: 5px 10px 18px #B572EC;
}


#title {
    text-align: center;
}

#title_area {
    padding-bottom: 30px;
    height: 200px;
}
#headshot {
    border-radius: 10%;
    border: solid black;
    width: 15%;
    float:left;
    margin-right: 10px;
    margin-top: 10px;
}
#contact_information {
    float: right;
}
.sub_sections p {
    width: 60%;
   display: inline-block;
}

#test_iamge_3 {
    box-shadow: 5px 5px 7.5px grey;
    border-radius: 2%;
    border-style: none;
    width: 70%;
}

#test_3_text {
    width: 100%;
}

#test_iamge_1 {
    box-shadow: 5px 5px 7.5px grey;
    border-radius: 2%;
    border-style: none;
    margin-right: 30px;
    float: left;
}
#test_2_text {
    width: 40%;
}

#test_iamge_2 {
    box-shadow: 5px 5px 7.5px grey;
    border-radius: 2%;
    border-style: none;
    width: 55%;
    margin-top: 30%;
    vertical-align: top;
    margin-left: 20px;
}

.section_container, .section_container h1 {
    margin-top: 50px;
}

h1, h2 {
    border-top: 2px solid;
    padding-top: 30px;
}

.section_container h2:first-of-type { 
    border-top: none;
}