body {
font-family: 'Roboto', 'Ubuntu','Source Sans Pro', sans-serif;
animation: colour_change 30s infinite;

}

@keyframes colour_change {
    0%    {background-color: #454545;}
    50%   {background-color: #333333;}
    100%  {background-color: #454545;}
  }


a {
    color: whitesmoke;
  }

#container {
    font-size: 20px;
    border-radius: 10px;
    margin: auto;
    height: 90%;
    width: 90%;
    max-width: 800px;
    padding: 50px;
    background-color: #6200b3;
    color: whitesmoke;
    box-shadow: 5px 10px 18px #B572EC;
}


#title {
    text-align: center;
}

#title_area {
    padding-bottom: 30px;
    height: 200px;
}
#headshot {
    border-radius: 10%;
    border: solid black;
    width: 15%;
    float:left;
    margin-right: 10px;
}
#contact_information {
    float: right;
}

.section_container {
    border-top: 2px dotted black;
}

.section_container:last-child {
    
    border-top: 2px dotted black;
    border-bottom: 2px dotted black;

}